## 판다스 기초 복습 1

In [1]:
import pandas as pd

### iris 데이터 로드

In [5]:
# pd.read_csv
df = pd.read_csv("iris.csv")

In [6]:
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

컬럼 출력하기

In [9]:
df['Sepal.Length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Sepal.Length, Length: 150, dtype: float64

컬럼 데이터프레임 형식으로 출력하기

In [10]:
df[['Sepal.Length']]

     Sepal.Length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

In [13]:
df[['Sepal.Length', 'Species']]

     Sepal.Length    Species
0             5.1     setosa
1             4.9     setosa
2             4.7     setosa
3             4.6     setosa
4             5.0     setosa
..            ...        ...
145           6.7  virginica
146           6.3  virginica
147           6.5  virginica
148           6.2  virginica
149           5.9  virginica

[150 rows x 2 columns]

컬럼 조건문으로 필터링하기
- 컬럼을 조건을 달아서 필터링하기 위해선 단순히 []안에 컬럼명을 집어넣는것이 아니라 (boolean 값으로 출력이됨) 컬럼안에 다시 한번 []를 집어넣어 데이터 프레임 형식으로 출력을 해줘야 우리가 원하는 형태로 출력이 된다

In [14]:
df['Sepal.Length'] > 5

0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: Sepal.Length, Length: 150, dtype: bool

In [15]:
df[df['Sepal.Length'] > 5]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[118 rows x 5 columns]

컬럼 간의 관계 조건식으로 출력을 하고 싶을 경우에는 반드시 () 괄호 처리를 해줘야 한다.

In [1]:
# 조건식
# & | 
# AND, OR
# == 
# !=

In [18]:
df[
    (df['Sepal.Length'] > 5) & 
    (df['Sepal.Width'] > 3)
]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0             5.1          3.5           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
10            5.4          3.7           1.5          0.2      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
17            5.1          3.5           1.4          0.3      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
23            5.1          3.3           1.7          0.5      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
36            5.5          3.5           1.3          0.2      setosa
39            5.1          3.4           1.5          0.2      setosa
44            5.1          3.8           1.9          0.4      setosa
46            5.1          3.8           1.6          0.2      setosa
48            5.3          3.7           1.5          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
56            6.3          3.3           4.7          1.6  versicolor
65            6.7          3.1           4.4          1.4  versicolor
70            5.9          3.2           4.8          1.8  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
100           6.3          3.3           6.0          2.5   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
115           6.4          3.2           5.3          2.3   virginica
117           7.7          3.8           6.7          2.2   virginica
120           6.9          3.2           5.7          2.3   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
131           7.9          3.8           6.4          2.0   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
148           6.2          3.4           5.4          2.3   virginica

In [22]:
df[(df['Sepal.Length'] > 5) & (df['Sepal.Width'] > 3) & (df['Species'] == 'virginica')]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
100           6.3          3.3           6.0          2.5  virginica
109           7.2          3.6           6.1          2.5  virginica
110           6.5          3.2           5.1          2.0  virginica
115           6.4          3.2           5.3          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
120           6.9          3.2           5.7          2.3  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
131           7.9          3.8           6.4          2.0  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
148           6.2          3.4           5.4          2.3  virginica

In [23]:
df1 = df[(df['Sepal.Length'] > 5) & (df['Sepal.Width'] > 3) & (df['Species'] == 'virginica')]

데이터 프레임을 전처리 후 출력할 때 항상 인덱스 정리에 신경을 써주자

In [25]:
df1.reset_index()

    index  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0     100           6.3          3.3           6.0          2.5  virginica
1     109           7.2          3.6           6.1          2.5  virginica
2     110           6.5          3.2           5.1          2.0  virginica
3     115           6.4          3.2           5.3          2.3  virginica
4     117           7.7          3.8           6.7          2.2  virginica
5     120           6.9          3.2           5.7          2.3  virginica
6     124           6.7          3.3           5.7          2.1  virginica
7     125           7.2          3.2           6.0          1.8  virginica
8     131           7.9          3.8           6.4          2.0  virginica
9     136           6.3          3.4           5.6          2.4  virginica
10    137           6.4          3.1           5.5          1.8  virginica
11    139           6.9          3.1           5.4          2.1  virginica
12    140           6.7          3.1           5.6          2.4  virginica
13    141           6.9          3.1           5.1          2.3  virginica
14    143           6.8          3.2           5.9          2.3  virginica
15    144           6.7          3.3           5.7          2.5  virginica
16    148           6.2          3.4           5.4          2.3  virginica

인덱스를 정리해줄 때 drop을 사용하여 인덱스항을 정리해주자

In [26]:
df1.reset_index(drop = True)

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0            6.3          3.3           6.0          2.5  virginica
1            7.2          3.6           6.1          2.5  virginica
2            6.5          3.2           5.1          2.0  virginica
3            6.4          3.2           5.3          2.3  virginica
4            7.7          3.8           6.7          2.2  virginica
5            6.9          3.2           5.7          2.3  virginica
6            6.7          3.3           5.7          2.1  virginica
7            7.2          3.2           6.0          1.8  virginica
8            7.9          3.8           6.4          2.0  virginica
9            6.3          3.4           5.6          2.4  virginica
10           6.4          3.1           5.5          1.8  virginica
11           6.9          3.1           5.4          2.1  virginica
12           6.7          3.1           5.6          2.4  virginica
13           6.9          3.1           5.1          2.3  virginica
14           6.8          3.2           5.9          2.3  virginica
15           6.7          3.3           5.7          2.5  virginica
16           6.2          3.4           5.4          2.3  virginica

In [27]:
df2 = df1.reset_index(drop = True)

데이터 프레임을 파일로 저장할 때 항상 index = false 를 잊지말자!

In [30]:
df2.to_csv('virginica.csv', index = False)

In [31]:
pd.read_csv('virginica.csv')

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0            6.3          3.3           6.0          2.5  virginica
1            7.2          3.6           6.1          2.5  virginica
2            6.5          3.2           5.1          2.0  virginica
3            6.4          3.2           5.3          2.3  virginica
4            7.7          3.8           6.7          2.2  virginica
5            6.9          3.2           5.7          2.3  virginica
6            6.7          3.3           5.7          2.1  virginica
7            7.2          3.2           6.0          1.8  virginica
8            7.9          3.8           6.4          2.0  virginica
9            6.3          3.4           5.6          2.4  virginica
10           6.4          3.1           5.5          1.8  virginica
11           6.9          3.1           5.4          2.1  virginica
12           6.7          3.1           5.6          2.4  virginica
13           6.9          3.1           5.1          2.3  virginica
14           6.8          3.2           5.9          2.3  virginica
15           6.7          3.3           5.7          2.5  virginica
16           6.2          3.4           5.4          2.3  virginica

drop_duplicates() 메서드를 사용하면 중복값을 제거하고 컬럼의 대표항목만 추려낸다.

In [34]:
df[['Species']].drop_duplicates()

        Species
0        setosa
50   versicolor
100   virginica

groupby 메서드로 원하는 항목을 기준으로 그룹화 하여 각종 항목값을 추려낼 수 있다.

In [35]:
df.groupby('Species').sum()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa             250.3        171.4          73.1         12.3
versicolor         296.8        138.5         213.0         66.3
virginica          329.4        148.7         277.6        101.3

In [36]:
df2 = df.groupby('Species').sum()

In [39]:
df3 = df.groupby('Species').mean()

In [40]:
df2

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa             250.3        171.4          73.1         12.3
versicolor         296.8        138.5         213.0         66.3
virginica          329.4        148.7         277.6        101.3

In [41]:
df3

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

인덱스 정렬을 항상 잊지 말자!

In [42]:
df2.reset_index()

      Species  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0      setosa         250.3        171.4          73.1         12.3
1  versicolor         296.8        138.5         213.0         66.3
2   virginica         329.4        148.7         277.6        101.3

In [43]:
df3.reset_index()

      Species  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0      setosa         5.006        3.428         1.462        0.246
1  versicolor         5.936        2.770         4.260        1.326
2   virginica         6.588        2.974         5.552        2.026