## 판다스 기초 연습2

### 부동산 데이터(매매, 실거래가 자료)로 판다스 기초 연습해보기

필요한 라이브러리 불러오기

In [ ]:


import pandas as pd
import os
# import geopandas as gpd
import glob
import plotly.express as px
import plotly.graph_objects as go
# import folium
import json
import math
import numpy as np
import json
import requests

from plotly.subplots import make_subplots


os.chdir("/home/ubuntu/realestate")
print(os.getcwd())

데이터 로드

In [2]:
AptRent_Total = pd.read_csv("data/AptRent_Total.csv")

In [3]:
AptRent_Total

,갱신요구권사용,건축년도,계약구분,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,종전계약보증금,종전계약월세,지번,지역코드,층
0,,2014.0,신규,22.03~24.03,2022,상왕십리동,145000,텐즈힐(2구역),1,0,5,127.44,,,811,11200,3
1,사용,2014.0,갱신,22.02~23.02,2022,상왕십리동,75600,텐즈힐(2구역),1,0,5,84.90,"72,000",,811,11200,13
2,,2014.0,신규,22.02~24.02,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,,,811,11200,7
3,사용,2014.0,갱신,22.02~24.02,2022,상왕십리동,30000,텐즈힐(2구역),1,140,6,84.92,"30,000",130,811,11200,10
4,,2014.0,,,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,,,811,11200,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675127,,2014.0,,,2020,신원동,70000,서초포레스타5단지,5,0,24,59.93,,,690,11650,9
675128,,2014.0,,,2020,신원동,100000,힐스테이트 서초 젠트리스,5,0,26,114.90,,,NaN,11650,3
675129,,2015.0,,,2020,신원동,6072,서초포레스타6단지,5,39,27,49.75,,,619,11650,5
675130,,2014.0,,,2020,신원동,58000,서초포레스타3단지,5,0,29,59.96,,,568,11650,5
675131,,2014.0,,,2020,신원동,102000,서초포레스타3단지,5,0,30,114.81,,,568,11650,19

필요없는 컬럼 제거하기

In [4]:
AptRent_Total = AptRent_Total.drop(['갱신요구권사용','계약구분','종전계약보증금','종전계약월세'], axis=1)

계산식 활용하여 새로운 컬럼 생성해주기

In [9]:
AptRent_Total['연식'] = 2023 - AptRent_Total['건축년도']

In [11]:
AptRent_Total.head()

,건축년도,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,지번,지역코드,층,연식
0,2014.0,22.03~24.03,2022,상왕십리동,145000,텐즈힐(2구역),1,0,5,127.44,811,11200,3,9.0
1,2014.0,22.02~23.02,2022,상왕십리동,75600,텐즈힐(2구역),1,0,5,84.90,811,11200,13,9.0
2,2014.0,22.02~24.02,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,811,11200,7,9.0
3,2014.0,22.02~24.02,2022,상왕십리동,30000,텐즈힐(2구역),1,140,6,84.92,811,11200,10,9.0
4,2014.0,,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,811,11200,7,9.0

조건식 활용하여 컬럼 필터링

In [13]:
# 연식이 10년 미만인
AptRent_Total[AptRent_Total['연식'] < 10]

,건축년도,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,지번,지역코드,층,연식
0,2014.0,22.03~24.03,2022,상왕십리동,145000,텐즈힐(2구역),1,0,5,127.44,811,11200,3,9.0
1,2014.0,22.02~23.02,2022,상왕십리동,75600,텐즈힐(2구역),1,0,5,84.90,811,11200,13,9.0
2,2014.0,22.02~24.02,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,811,11200,7,9.0
3,2014.0,22.02~24.02,2022,상왕십리동,30000,텐즈힐(2구역),1,140,6,84.92,811,11200,10,9.0
4,2014.0,,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,811,11200,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675127,2014.0,,2020,신원동,70000,서초포레스타5단지,5,0,24,59.93,690,11650,9,9.0
675128,2014.0,,2020,신원동,100000,힐스테이트 서초 젠트리스,5,0,26,114.90,NaN,11650,3,9.0
675129,2015.0,,2020,신원동,6072,서초포레스타6단지,5,39,27,49.75,619,11650,5,8.0
675130,2014.0,,2020,신원동,58000,서초포레스타3단지,5,0,29,59.96,568,11650,5,9.0
675131,2014.0,,2020,신원동,102000,서초포레스타3단지,5,0,30,114.81,568,11650,19,9.0

In [14]:
# 전용 면적이 84 이상인
AptRent_Total[AptRent_Total['전용면적'] >= 84]

,건축년도,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,지번,지역코드,층,연식
0,2014.0,22.03~24.03,2022,상왕십리동,145000,텐즈힐(2구역),1,0,5,127.44,811,11200,3,9.0
1,2014.0,22.02~23.02,2022,상왕십리동,75600,텐즈힐(2구역),1,0,5,84.90,811,11200,13,9.0
2,2014.0,22.02~24.02,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,811,11200,7,9.0
3,2014.0,22.02~24.02,2022,상왕십리동,30000,텐즈힐(2구역),1,140,6,84.92,811,11200,10,9.0
4,2014.0,,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,811,11200,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675122,2014.0,,2020,신원동,83000,서초포레스타5단지,5,0,17,84.39,690,11650,1,9.0
675123,2014.0,,2020,신원동,89000,서초포레스타5단지,5,0,18,101.35,690,11650,1,9.0
675125,2014.0,,2020,신원동,92000,힐스테이트 서초 젠트리스,5,0,21,101.90,NaN,11650,6,9.0
675128,2014.0,,2020,신원동,100000,힐스테이트 서초 젠트리스,5,0,26,114.90,NaN,11650,3,9.0
675131,2014.0,,2020,신원동,102000,서초포레스타3단지,5,0,30,114.81,568,11650,19,9.0

In [15]:
# 보증금액이 50000 이상인
AptRent_Total[AptRent_Total['보증금액'] >= 50000]

,건축년도,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,지번,지역코드,층,연식
0,2014.0,22.03~24.03,2022,상왕십리동,145000,텐즈힐(2구역),1,0,5,127.44,811,11200,3,9.0
1,2014.0,22.02~23.02,2022,상왕십리동,75600,텐즈힐(2구역),1,0,5,84.90,811,11200,13,9.0
2,2014.0,22.02~24.02,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,811,11200,7,9.0
4,2014.0,,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,811,11200,7,9.0
7,2014.0,22.02~24.02,2022,상왕십리동,78750,텐즈힐(2구역),1,0,8,84.90,811,11200,16,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675126,2014.0,,2020,신원동,70000,서초포레스타5단지,5,0,24,59.93,690,11650,9,9.0
675127,2014.0,,2020,신원동,70000,서초포레스타5단지,5,0,24,59.93,690,11650,9,9.0
675128,2014.0,,2020,신원동,100000,힐스테이트 서초 젠트리스,5,0,26,114.90,NaN,11650,3,9.0
675130,2014.0,,2020,신원동,58000,서초포레스타3단지,5,0,29,59.96,568,11650,5,9.0
675131,2014.0,,2020,신원동,102000,서초포레스타3단지,5,0,30,114.81,568,11650,19,9.0

In [17]:
# 보증금액 50000 이하 동시에 월세금액 0이 아닌 동시에 월세금액 100
AptRent_Total[(AptRent_Total['보증금액'] <= 50000) & (AptRent_Total['월세금액'] != 0) & (AptRent_Total['월세금액'] == 100)]

,건축년도,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,지번,지역코드,층,연식
36,2001.0,22.02~24.02,2022,하왕십리동,50000,극동미라주,1,100,7,114.63,1058,11200,5,22.0
167,1986.0,22.03~24.03,2022,마장동,10000,세림,1,100,11,84.93,784,11200,15,37.0
236,2020.0,22.01~23.01,2022,행당동,1000,지웰홈스왕십리,1,100,5,16.41,387,11200,17,3.0
246,2020.0,22.01~23.01,2022,행당동,1000,지웰홈스왕십리,1,100,6,16.41,387,11200,18,3.0
263,1995.0,22.02~24.02,2022,행당동,10000,신동아,1,100,10,59.97,344,11200,7,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674551,1992.0,,2020,잠원동,20000,한신로얄,5,100,22,81.05,63-34,11650,1,31.0
674611,1998.0,,2020,잠원동,30000,중앙하이츠,5,100,27,59.93,71-17,11650,14,25.0
674663,2001.0,,2020,잠원동,2000,대우아이빌,5,100,30,34.72,42-13,11650,3,22.0
674821,1987.0,,2020,반포동,40000,반포미도,5,100,29,84.96,60-4,11650,12,36.0
674883,2005.0,,2020,서초동,30000,서초동대우디오빌프라임,5,100,6,81.97,1337-22,11650,9,18.0

In [18]:
AptRent_Total[AptRent_Total['법정동'] == '반포동']

,건축년도,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,지번,지역코드,층,연식
68263,2021.0,21.09~23.09,2021,반포동,140000,디에이치반포라클라스,7,30,1,59.9897,1343,11650,15,2.0
68264,1974.0,,2021,반포동,50000,에이아이디차관주택,7,0,1,72.5100,968,11650,1,49.0
68265,2018.0,,2021,반포동,7285,반포써밋,7,67,1,49.8098,1342,11650,3,5.0
68266,2016.0,21.07~23.10,2021,반포동,320000,아크로리버파크,7,0,1,129.9700,2-12,11650,8,7.0
68267,1974.0,21.07~23.07,2021,반포동,2000,에이아이디차관주택,7,100,2,72.5100,968,11650,3,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674836,2010.0,,2020,반포동,10000,반포리체,5,320,30,138.2570,30-26,11650,23,13.0
674837,1989.0,,2020,반포동,65000,반포미도2차아파트,5,0,30,71.4900,60-5,11650,2,34.0
674838,1973.0,,2020,반포동,55000,반포주공1단지,5,0,30,140.1300,757,11650,5,50.0
674839,1973.0,,2020,반포동,43000,반포주공1단지,5,0,30,107.4700,757,11650,2,50.0
674840,1987.0,,2020,반포동,74000,반포미도,5,0,31,84.9600,60-4,11650,6,36.0

groupby 메서드 활용하여 데이터 필터링

In [26]:
AptRent1 = AptRent_Total[['보증금액','월세금액','법정동']].groupby(['법정동']).mean()

인덱스 정렬 잊지말기!

In [28]:
AptRent1.reset_index()

      법정동          보증금액       월세금액
0     가락동  52923.261289  47.362241
1    가리봉동  27720.000000   6.566667
2     가산동  13503.793599  23.709340
3     가양동  25659.016878  17.645063
4     갈월동  10325.000000  24.500000
..    ...           ...        ...
331   효창동  49031.004896  40.402693
332   후암동  30169.906122  32.195918
333   휘경동  26651.161869  23.004589
334   흑석동  55525.786057  41.371282
335   흥인동  22940.516129  57.790323

[336 rows x 3 columns]

In [32]:
AptRent2 = AptRent_Total[['월','법정동','보증금액','월세금액' ]].groupby(['월','법정동']).mean()

In [35]:
AptRent2 = AptRent2.reset_index()

sort_values 활용하여 데이터 정렬하기 (ascending = False로 지정할 경우 내림차순 정렬)

In [40]:
AptRent2.sort_values('월세금액', ascending = False)

       월    법정동           보증금액   월세금액
989    4   동빙고동   10000.000000  542.5
3461  12   동빙고동   27500.000000  540.0
3234  11    수송동   10000.000000  500.0
2782  10    견지동       0.000000  500.0
3149  11   동빙고동   11968.000000  473.8
...   ..    ...            ...    ...
2262   8    미근동   11200.000000    0.0
924    4   가리봉동   37000.000000    0.0
550    2  장충동1가  220000.000000    0.0
89     1   명륜3가    6000.000000    0.0
2307   8  성북동1가  134833.333333    0.0

[3704 rows x 4 columns]

In [42]:
AptRent_Total.head()

,건축년도,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,지번,지역코드,층,연식
0,2014.0,22.03~24.03,2022,상왕십리동,145000,텐즈힐(2구역),1,0,5,127.44,811,11200,3,9.0
1,2014.0,22.02~23.02,2022,상왕십리동,75600,텐즈힐(2구역),1,0,5,84.90,811,11200,13,9.0
2,2014.0,22.02~24.02,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,811,11200,7,9.0
3,2014.0,22.02~24.02,2022,상왕십리동,30000,텐즈힐(2구역),1,140,6,84.92,811,11200,10,9.0
4,2014.0,,2022,상왕십리동,105000,텐즈힐(2구역),1,0,6,84.92,811,11200,7,9.0

groupby와 각종 조건식 활용하여 데이터 전처리 실습

In [48]:
# 연식별 보증금액
AptRent_Total[['보증금액','연식']].groupby(['연식']).mean()

              보증금액
연식
0.0   27302.806114
1.0   30977.479092
2.0   34277.544407
3.0   36507.752572
4.0   39916.109071
5.0   47098.531246
6.0   41288.671081
7.0   53342.257299
8.0   45223.074038
9.0   36801.517916
10.0  28389.187284
11.0  38684.509103
12.0  35107.606342
13.0  42388.871532
14.0  51768.198723
15.0  52526.792909
16.0  50334.234405
17.0  56522.613325
18.0  47475.549601
19.0  43367.081177
20.0  44131.192479
21.0  44422.474920
22.0  40567.510255
23.0  38102.710844
24.0  37983.404439
25.0  36421.675239
26.0  38585.221033
27.0  33333.161095
28.0  34629.326424
29.0  35932.794217
30.0  36889.135301
31.0  29462.524043
32.0  27689.955020
33.0  26976.718824
34.0  26429.157916
35.0  30385.749953
36.0  35626.163040
37.0  38218.781078
38.0  52404.667662
39.0  50750.698829
40.0  51523.387783
41.0  45367.844552
42.0  40698.931013
43.0  48537.002027
44.0  56135.401330
45.0  48196.963143
46.0  41454.250000
47.0  60204.650000
48.0  37060.856911
49.0  38849.821429
50.0  39881.511628
51.0  19153.351955
52.0  28685.447292
53.0  15480.418511
54.0  12960.357143
55.0  11485.179856
56.0  12676.000000
57.0   3108.000000
58.0  22937.375000
62.0  12934.722222

In [53]:
# 법정동별 보증금액
apt1 = AptRent_Total[['보증금액','법정동']].groupby(['법정동']).mean()
apt2 = apt1.reset_index()
apt2.sort_values(['보증금액'], ascending = False)

       법정동           보증금액
264  장충동1가  300000.000000
182  신문로2가  243000.000000
287    청암동  102706.666667
112    반포동   93697.800679
237  용산동5가   93429.007634
..     ...            ...
210    연건동    2051.153846
11     경운동    1766.666667
265  장충동2가    1753.846154
59     대신동    1555.555556
35   남산동2가    1000.000000

[336 rows x 2 columns]

In [56]:
# 월별, 법정동별 보증금액
# 보증금액이 높은것기준 정렬
Apt1 = AptRent_Total[['보증금액','법정동','월']].groupby(['법정동','월']).mean()
Apt2 = Apt1.reset_index()
Apt2.sort_values(['보증금액'], ascending = False)

         법정동   월      보증금액
2915   장충동1가   6  380000.0
1998   신문로2가  10  275000.0
1996   신문로2가   5  265000.0
1997   신문로2가   6  240000.0
2914   장충동1가   2  220000.0
...      ...  ..       ...
2427  영등포동4가   9     625.0
358      낙원동   6     500.0
395      남창동   9     500.0
2654   원효로2가   2     500.0
114      견지동  10       0.0

[3704 rows x 3 columns]

In [63]:
# 월세금액이 0인것 (전세)
# 법정동, 연식별 보증금액
apt1 = AptRent_Total[AptRent_Total['월세금액'] == 0]
apt1 = apt1[['보증금액','법정동','연식']].groupby(['법정동','연식']).mean()
apt2 = apt1.reset_index()
apt2.sort_values(['보증금액'], ascending = False)

      법정동    연식           보증금액
3082  한남동   3.0  950000.000000
2941  청담동   3.0  715000.000000
2940  청담동   1.0  700000.000000
3083  한남동   4.0  566153.846154
2942  청담동   4.0  566000.000000
...   ...   ...            ...
1535  서교동   3.0    3551.000000
684   도림동   2.0    3456.000000
2908  천왕동   8.0    2976.000000
1231  방화동  27.0    2777.500000
2226  역촌동   4.0    2160.000000

[3336 rows x 3 columns]

In [65]:
# 월세금액이 0이 아닌것 (월세)
# 법정동, 연식별 보증금액, 월세금액
apt1 = AptRent_Total[AptRent_Total['월세금액'] != 0]
apt1 = apt1[['보증금액','법정동','연식','월세금액']].groupby(['법정동','연식']).mean()
apt2 = apt1.reset_index()
apt2.sort_values(['월세금액'], ascending = False)

        법정동    연식           보증금액         월세금액
2822    청담동   4.0   30000.000000  2000.000000
2820    청담동   1.0  362500.000000  1962.500000
1582  성수동1가  12.0  116363.636364  1546.000000
620     도곡동   5.0   10000.000000  1500.000000
1580  성수동1가   3.0  103333.333333  1477.027778
...     ...   ...            ...          ...
1442    상봉동  28.0    1606.000000     6.571429
101     개포동  27.0   60000.000000     6.000000
1688    시흥동  10.0   31500.000000     5.000000
488     당산동   7.0   20000.000000     5.000000
2868  충정로3가  13.0   39000.000000     4.000000

[3205 rows x 4 columns]

In [67]:
apt2[apt2['법정동'] == '당산동']

     법정동    연식          보증금액        월세금액
488  당산동   7.0  20000.000000    5.000000
489  당산동   8.0  11500.000000   30.250000
490  당산동  10.0   2563.636364   45.327273
491  당산동  11.0   2923.076923   48.711538
492  당산동  19.0  20000.000000  100.000000
493  당산동  21.0  29571.717172  101.888889
494  당산동  28.0  23759.615385   71.692308

In [69]:
AptRent_Total[AptRent_Total['법정동'] == '당산동']

,건축년도,계약기간,년,법정동,보증금액,아파트,월,월세금액,일,전용면적,지번,지역코드,층,연식
3701,2005.0,,2020,당산동,55000,드림시드,12,0,1,84.22,171-19,11560,5,18.0
3702,2013.0,,2020,당산동,3000,태경,12,35,4,12.72,121-60,11560,14,10.0
3703,2016.0,,2020,당산동,17000,브라보,12,0,5,17.00,121-26,11560,6,7.0
3704,2002.0,,2020,당산동,59000,강변래미안,12,0,7,55.91,376,11560,7,21.0
3705,1995.0,,2020,당산동,40400,래미안당산1차,12,0,8,59.97,374,11560,13,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671585,2012.0,,2020,당산동,1000,미진리버빌,7,60,25,22.23,121-131,11560,3,11.0
671586,2002.0,,2020,당산동,55000,강변래미안,7,0,25,79.43,376,11560,5,21.0
671587,2002.0,,2020,당산동,55000,강변래미안,7,0,28,79.05,376,11560,7,21.0
671588,2002.0,,2020,당산동,10000,강변래미안,7,100,29,55.91,376,11560,14,21.0
671589,2002.0,,2020,당산동,50000,강변래미안,7,0,30,79.05,376,11560,11,21.0